In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
import random
from sklearn.model_selection import train_test_split

# TESTING BLOCKS

In [ ]:
# WORKING

# Init arguments
def __init__(self, n_inputs, n_hidden, n_outputs):
    self.n_inputs = n_inputs
    self.n_hidden = n_hidden
    self.n_outputs = n_outputs

In [ ]:
# WORKING 

# Function for initializing network - when called creates an empty list 'network' and creates hidden layers w/ random weights for neurons
def initialize_network(n_inputs, n_hidden, n_outputs):

    network = []

    # Create multiple hidden layers
    for n in range(len(n_hidden)):
        # For first hidden layer - creates random weights for hidden layer by looping through 'n_inputs + 1' to add a weight to every input and a bias 
        if n == 0:
            hidden_layer = [{'weights': [np.random.rand() for i in range(n_inputs + 1)]} for i in range(n_hidden[n])]
        # For any other hidden layers defined by n_hidden - 'n-1' is included to offset the count of n since for the 2nd hidden layer we need the first element of 'n_hidden'
        else:
            hidden_layer = [{'weights':[np.random.rand() for i in range(n_hidden[n-1] + 1)]} for i in range(n_hidden[n])]
        network.append(hidden_layer)

    output_layer = [{'weights': [np.random.rand() for i in range(n_hidden[-1] + 1)]} for i in range(n_outputs)]
    network.append(output_layer)
    return network

network = initialize_network(n_inputs, n_hidden, n_outputs)
print(network)

In [ ]:
# WORKING

# Output of a single neuron
def activate_neuron(weights, inputs):
    activation = weights[-1]
    for i in range(len(weights) - 1):
        activation += weights[i] * inputs[i]
    return activation
    
    
    
# Activation Functions
def sigmoid(activation):
    return 1.0 / (1.0 + np.exp(-activation))
    
def ReLU(activation):
    return max(0, activation)
    
def leaky_ReLU(activation):
    return max(0.01 * activation, activation)
    
    
    
# Derivatives of Activation Functions
def d_sm(output):
    return output * (1 - output)
    
def d_ReLU(output):
    return 1 if output > 0 else 0
    
def d_leaky(output):
    return 1 if output > 0 else 0.01

In [ ]:
# WORKING

def forward_pass(network, inputs):
        
    for layer in network:
        new_inputs = [] 
            
        for neuron in layer:
            neuron_output = activate_neuron(neuron['weights'], inputs)
            neuron['output'] = leaky_ReLU(neuron_output)
            new_inputs.append(neuron['output'])

        inputs = new_inputs

    return inputs # Output of output layer

forward = forward_pass(network, inputs[0])
print(forward)

In [ ]:
print(len(network))
print(network)

In [ ]:
# WORKING 
    
def backprop(network, expected):
    
    # Loops through the reversed range of network in int - important so that the 'layer' variable isnt messed up
    for i in reversed(range(len(network))):
        layer = network[i]
        error_layer = [] # List of errors for each neuron in layer i 
            
        if i != len(network) - 1: # aka if i isnt the last layer in the network/output layer
            
            # Loops through 'range(len(layer))' aka all the neurons of the layer once again in int - for 'neuron' variable 
            for j in range(len(layer)):
                error = 0.0
                
                for neuron in network[i + 1]:
                    error += (neuron['weights'][j] * neuron['delta'])
                error_layer.append(error) # Appends error for each neuron in 'error_layer' list
                
        else:
            for j in range(len(layer)):
                neuron = layer[j]
                error_layer.append(neuron['output'] - expected)
                
        for j in range(len(layer)):
            neuron = layer[j]
            neuron['delta'] = error_layer[j] * d_leaky(neuron['output'])
        
        


back = backprop(network, labels[0])
print(network)

In [ ]:
# Update Neuron Weights
def update_weights(network, row, l_rate):
        
    # Loops through all layers of the 'network' variable
    for i in range(len(network)):
        inputs = row + [1.0]
            
        # For all layers of 'network' except the first hidden layer
        if i != 0:
            inputs = [neuron['output'] for neuron in network[i - 1]] + [1.0] 
                
        # Loop through every neuron in the ith layer of 'network'
        for neuron in network[i]:
                
            # Update neuron weights by looping through all the weights for a neuron (except the last one since it's the bias weight)
            for w in range(len(neuron['weights']) - 1): 
                    neuron['weights'][w] -= l_rate * neuron['delta'] * inputs[w] # 'inputs[w]' ensures that the input is the correct one to correspond with the weights and neuron
                    
            # Updating the bias weight in each neuron
            neuron['weights'][-1] -= l_rate * neuron['delta']
                

    
                

up = update_weights(network, inputs[0], learning_rate)
print(network)

In [ ]:
# WORKING

# Train network
def train_network(network, train, expected, l_rate, n_epoch, n_outputs):
        
    # Loops through every 'epoch' - amount set in the arg input
    for epoch in range(n_epoch):
        sum_error = 0

        # Loops through all the rows of the training data
        for x, row in enumerate(train):
            outputs = forward_pass(network, row) # Outputs of output layer for that row
            mse = sum([(expected[x] - outputs[i])**2 for i in range(len(outputs))]) / len(outputs) # Had errors with normal squared loss error function and MSE fixed it
            backprop(network, expected[x])
            sum_error += mse
            update_weights(network, row, l_rate)

        if epoch % 50 == 0:
            print('>epoch=%d, error=%.3f' % (epoch, sum_error)) 
            
    return

train = train_network(network, inputs, labels, 0.1, 501, n_outputs)

In [ ]:
# WORKING

# Predict with the network
def predict(network, row):
    outputs = forward_pass(network, row)
    return outputs.index(max(outputs))

pred = predict(network, inputs[0])

for row in inputs:
    prediction = predict(network, row)
    print('Expected=%d, Got=%d' % (row[-1], prediction))

# END OF TESTING BLOCKS

In [3]:
# Activation Functions
def sigmoid(activation):
    return 1.0 / (1.0 + np.exp(-activation))

def ReLU(activation):
    return max(0, activation)

def leaky_ReLU(activation):
    return max(0.01 * activation, activation)





# Derivatives of Activation Functions
def d_sm(output):
    return output * (1 - output)

def d_ReLU(output):
    return 1 if output > 0 else 0

def d_leaky(output):
    return 1 if output > 0 else 0.01

In [4]:
# Create Neural Network class 
class NN:
    
    # Init arguments
    def __init__(self, n_inputs, n_hidden, n_outputs):
        self.n_inputs = n_inputs
        self.n_hidden = n_hidden
        self.n_outputs = n_outputs
    
    
    
    
    
    # Function for initializing network - when called creates an empty list 'network' and creates hidden layers
    def initialize_network(self):
        network = []

        # Create multiple hidden layers based on n_hidden 
        for n in range(len(self.n_hidden)):
            # For first hidden layer - creates random weights for hidden layer by looping through 'n_inputs + 1' to add a weight to every input and a bias 
            if n == 0:
                hidden_layer = [{'weights': [np.random.rand() for i in range(self.n_inputs + 1)]} for i in range(self.n_hidden[n])]
            # For any other hidden layers defined by n_hidden - 'n-1' is used since we want to create weights for all the connections from row n-1 and row n with a bias
            else:
                hidden_layer = [{'weights':[np.random.rand() for i in range(self.n_hidden[n-1] + 1)]} for i in range(self.n_hidden[n])]
            
            # Appends the hidden layer to empty list - creating the network
            network.append(hidden_layer)

        
        output_layer = [{'weights': [np.random.rand() for i in range(self.n_hidden[-1] + 1)]} for i in range(self.n_outputs)]
        network.append(output_layer)

        
        return network
    
    
    
    
    # Output of a single neuron
    def activate_neuron(self, weights, inputs):
        
        # Adding the bias weight to activation before adding the neuron activations
        activation = weights[-1]
        
        for i in range(len(weights) - 1): 
            activation += weights[i] * inputs[i]
            
        return activation
    
    
    
    
    
    # Forward Pass
    def forward_pass(self, network, inputs, activation_function):
        
        # Loops through each layer aka list item within an arg 'network' which will be our initialized network from before
        for layer in network:
            new_inputs = []
            count = 0
            
            # Loops through each neuron of the layer with activation functions and appends the outputs of that layer's neurons into 'new_inputs' to become the next layers inputs
            for neuron in layer:
                neuron_output = self.activate_neuron(neuron['weights'], inputs)
                neuron['output'] = activation_function(neuron_output)
                new_inputs.append(neuron['output'])

            inputs = new_inputs

        return inputs # Output of output layer
                

    

    
    
    # Backpropagation Error

    def backprop(self, network, expected, d_activation):

        # Loops through the reversed range of network in int - important so that the 'layer' variable isnt messed up
        for i in reversed(range(len(network))):
            layer = network[i]
            error_layer = [] # List of errors for each neuron in layer i 

            if i != len(network) - 1:

                # Loops through 'range(len(layer))' aka all the neurons of the layer once again in int - for 'neuron' variable 
                for j in range(len(layer)):
                    error = 0.0

                    for neuron in network[i + 1]:
                        error += (neuron['weights'][j] * neuron['delta'])
                    error_layer.append(error) # Appends error for each neuron in 'error_layer' list

            else:
                for j in range(len(layer)):
                    neuron = layer[j]
                    error_layer.append(neuron['output'] - expected)

            for j in range(len(layer)):
                neuron = layer[j]
                neuron['delta'] = error_layer[j] * d_activation(neuron['output'])

    
        

    
    
    # Update Neuron Weights
    def update_weights(self, network, row, l_rate):
        
        # Loops through all layers of the 'network' variable
        for i in range(len(network)):
            inputs = row + [1.0]
            
            # For all layers of 'network' except the first hidden layer
            if i != 0:
                inputs = [neuron['output'] for neuron in network[i - 1]] + [1.0] 
                
            # Loop through every neuron in the ith layer of 'network'
            for neuron in network[i]:
                
                # Update neuron weights by looping through all the weights for a neuron (except the last one since it's the bias weight)
                for w in range(len(neuron['weights']) - 1): 
                    neuron['weights'][w] -= l_rate * neuron['delta'] * inputs[w] # 'inputs[w]' ensures that the input is the correct one to correspond with the weights and neuron
                    
                # Updating the bias weight in each neuron
                neuron['weights'][-1] -= l_rate * neuron['delta']
                
    
    
                

    # Train network
    def train_network(self, network, train, expected, activation_function, d_activation, l_rate, n_epoch, n_outputs):
        
        # Loops through every 'epoch' - amount set in the arg input
        for epoch in range(n_epoch):
            sum_error = 0

            # Loops through all the rows of the training data
            for x, row in enumerate(train):
                outputs = self.forward_pass(network, row, activation_function) # Outputs of output layer for that row
                mse = sum([(expected[x] - outputs[i])**2 for i in range(len(outputs))]) / len(outputs) # Had errors with normal squared loss error function and MSE fixed it
                self.backprop(network, expected[x], d_activation)
                sum_error += mse
                self.update_weights(network, row, l_rate)

            if epoch % 50 == 0:
                print('>epoch=%d, error=%.3f' % (epoch, sum_error)) 
            
        return
    
    

            
    # Predict with the network
    def predict(self, network, row, activation_function):
        outputs = self.forward_pass(network, row, activation_function)
        return outputs.index(max(outputs))


    
    
    

#network = NN(n_inputs, n_hidden, n_outputs)
#net_init = network.initialize_network()
#forward = network.forward_pass(net_init, train_data[0][:-1])
#back = network.backprop(net_init, expected_outputs)
#update = network.update_weights(net_init, train_data[0] , learning_rate)
#train = network.train_network(net_init, train_data, learning_rate, n_epochs, n_outputs)
#pred = network.predict(net_init, train_data[0])


#for row in train_data:
    #net = NN(n_inputs, n_hidden, n_outputs)
    #prediction = net.predict(net_init, row)
    #print('Expected=%d, Got=%d' % (row[-1], prediction))

# Model/Predictions on Real Data

In [5]:
# Load Data
train_data = pd.read_csv('/Users/jake/Downloads/train.csv')
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
# Clean and Prepare Data
train_data = train_data.drop(['PassengerId', 'Cabin', 'Name', 'Ticket'], axis = 1)
train_data = train_data.dropna(subset = ['Embarked'])
train_data['Sex'] = train_data['Sex'].replace(['female', 'male'], [0, 1])
train_data['Embarked'] = train_data['Embarked'].replace(['C', 'Q', 'S'], [0, 1, 2])

mean = train_data['Age'].mean()
train_data['Age'].fillna(value = mean, inplace = True)
train_data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [9]:
# Create Output DF
survived_df = train_data['Survived'].copy()
survived_df.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [10]:
train_data = train_data.drop(['Survived'], axis = 1)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    889 non-null    int64
 1   Sex       889 non-null    int64
 2   Age       889 non-null    float64
 3   SibSp     889 non-null    int64
 4   Parch     889 non-null    int64
 5   Fare      889 non-null    float64
 6   Embarked  889 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 55.6 KB

In [11]:
# Normalize Data
normal_train = train_data.copy()
normal_train = (normal_train - normal_train.min()) / (normal_train.max() - normal_train.min())
normal_train.head()

   Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0     1.0  1.0  0.271174  0.125    0.0  0.014151       1.0
1     0.0  0.0  0.472229  0.125    0.0  0.139136       0.0
2     1.0  0.0  0.321438  0.000    0.0  0.015469       1.0
3     0.0  0.0  0.434531  0.125    0.0  0.103644       1.0
4     1.0  1.0  0.434531  0.000    0.0  0.015713       1.0

In [12]:
normal_train.describe()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000
mean,0.655793,0.649044,0.367204,0.065523,0.063742,0.062649,0.767717
std,0.417350,0.477538,0.162960,0.137963,0.134460,0.097003,0.396044
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.500000,0.000000,0.271174,0.000000,0.000000,0.015412,0.500000
50%,1.000000,1.000000,0.367204,0.000000,0.000000,0.028213,1.000000
75%,1.000000,1.000000,0.434531,0.125000,0.000000,0.060508,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
# Create Train Sets - Convert to NP Array
inputs = normal_train.values
labels = survived_df.values

print(labels)

[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0
 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0
 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0 0
 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1 1
 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0 0
 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0 0
 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1 1
 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 1
 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1 1
 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0 0
 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1 0
 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 0 1 0 1 0 0 0 1 0
 0 0 0 1 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0 0
 1 0 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0
 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 1 0 0
 0 0 1 1 1 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0 1
 0 1 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1
 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 1 1 0 1 0 0 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0 0
 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1 0 1
 0]

In [33]:
# Initialize Hyperparameters for train

n_inputs = len(inputs[0]) # Number of neurons in input layer
n_hidden = [3, 2, 1] # List of number of neurons in each hidden layer
n_outputs = len(set(labels)) # Number of neurons in output layer
learning_rate = 0.001
n_epochs = 501

In [35]:
# Run Network
network = NN(n_inputs, n_hidden, n_outputs)
net_init = network.initialize_network()
forward = network.forward_pass(net_init, inputs[0], leaky_ReLU)
back = network.backprop(net_init, labels[0], d_leaky)
update = network.update_weights(net_init, inputs[0], learning_rate)
train = network.train_network(net_init, inputs, labels, leaky_ReLU, d_leaky, learning_rate, n_epochs, n_outputs)
#pred = network.predict(net_init, inputs[0], leaky_ReLU)

correct = 0
incorrect = 0

for x, row in enumerate(inputs):
    prediction = network.predict(net_init, row, leaky_ReLU)
    #print('Expected=%d, Got=%d' % (labels[x], prediction))
    

    if labels[x] == prediction:
        correct += 1
    else:
        incorrect += 1
print('Correct: ', correct)
print('Incorrect: ', incorrect)

accuracy = correct / len(labels)
print(accuracy)

>epoch=0, error=321.088
>epoch=50, error=130.966
>epoch=100, error=129.523
>epoch=150, error=128.646
>epoch=200, error=128.126
>epoch=250, error=127.820
>epoch=300, error=127.630
>epoch=350, error=127.498
>epoch=400, error=127.399
>epoch=450, error=127.324
>epoch=500, error=127.266
Correct:  549
Incorrect:  340
0.6175478065241845

# Test Data to Make Predictions

In [15]:
# Load Data
test_data = pd.read_csv('/Users/jake/Downloads/test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [16]:
# Clean and Prepare Data
passenger_id = test_data['PassengerId']
test_data = test_data.drop(['PassengerId', 'Cabin', 'Name', 'Ticket'], axis = 1)
test_data = test_data.dropna(subset = ['Embarked'])
test_data['Sex'] = test_data['Sex'].replace(['female', 'male'], [0, 1])
test_data['Embarked'] = test_data['Embarked'].replace(['C', 'Q', 'S'], [0, 1, 2])

mean = test_data['Age'].mean()
test_data['Age'].fillna(value = mean, inplace = True)
test_data.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         1
1       3    0  47.0      1      0   7.0000         2
2       2    1  62.0      0      0   9.6875         1
3       3    1  27.0      0      0   8.6625         2
4       3    0  22.0      1      1  12.2875         2

In [17]:
# Normalize Data
normal_test = test_data.copy()
normal_test = (normal_test - normal_test.min()) / (normal_test.max() - normal_test.min())
normal_test.describe()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,418.000000,418.000000,418.000000,418.000000,418.000000,417.000000,418.000000
mean,0.632775,0.636364,0.396975,0.055921,0.043594,0.069540,0.700957
std,0.420919,0.481622,0.166617,0.112095,0.109048,0.109124,0.427248
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.301068,0.000000,0.000000,0.015412,0.500000
50%,1.000000,1.000000,0.396975,0.000000,0.000000,0.028213,1.000000
75%,1.000000,1.000000,0.469207,0.125000,0.000000,0.061484,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
# Create Test Set
test_inputs = normal_test.values
print(test_inputs)

[[1.         1.         0.4527232  ... 0.         0.01528158 0.5       ]
 [1.         0.         0.61756561 ... 0.         0.01366309 1.        ]
 [0.5        1.         0.8153765  ... 0.         0.01890874 0.5       ]
 ...
 [1.         1.         0.50547277 ... 0.         0.01415106 1.        ]
 [1.         1.         0.39697468 ... 0.         0.01571255 1.        ]
 [1.         1.         0.39697468 ... 0.11111111 0.0436405  0.        ]]

In [19]:
# Initialize Hyperparameters for test

n_inputs = len(test_inputs[0]) # Number of neurons in input layer
n_hidden = [3, 2, 1] # List of number of neurons in each hidden layer
n_outputs = 2 # Number of neurons in output layer
learning_rate = 0.001
n_epochs = 501

In [36]:
# Run Network
network = NN(n_inputs, n_hidden, n_outputs)
net_init = network.initialize_network()
forward = network.forward_pass(net_init, inputs[0], leaky_ReLU)
back = network.backprop(net_init, labels[0], d_leaky)
update = network.update_weights(net_init, inputs[0], learning_rate)
train = network.train_network(net_init, inputs, labels, leaky_ReLU, d_leaky, learning_rate, n_epochs, n_outputs)
#pred = network.predict(net_init, inputs[0], leaky_ReLU)

test_preds = []

for x, row in enumerate(test_inputs):
    prediction = network.predict(net_init, row, leaky_ReLU)
    #print('Expected=%d, Got=%d' % (labels[x], prediction))
    test_preds.append(prediction)

print(len(test_preds))

>epoch=0, error=499.505
>epoch=50, error=158.985
>epoch=100, error=129.309
>epoch=150, error=128.376
>epoch=200, error=128.063
>epoch=250, error=127.914
>epoch=300, error=127.877
>epoch=350, error=127.820
>epoch=400, error=127.771
>epoch=450, error=127.728
>epoch=500, error=127.687
418

In [37]:
df_preds = passenger_id.to_frame(name = 'Passenger ID')
df_preds = df_preds.assign(Survived = test_preds)
print(df_preds)

     Passenger ID  Survived
0             892         0
1             893         1
2             894         0
3             895         0
4             896         1
..            ...       ...
413          1305         0
414          1306         1
415          1307         0
416          1308         0
417          1309         0

[418 rows x 2 columns]